body {
    background-color: rgb(184, 184, 239);
    color: black;
}
div.bar {
    display: inline-block;
    width: 20px;
    height: 75px; /* We'll override height later */
    background-color: teal;
    }